name: Python CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"

      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - run: flake8 .


  test:
    runs-on: ubuntu-latest
    needs: lint

    strategy:
      matrix:
        python-version: ${{ github.ref == 'refs/heads/main' && fromJson('["3.9","3.10","3.11"]') || fromJson('["3.10"]') }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - run: pytest

